---
title: Home
layout: home
weight: 1 
---

	   

<h2>Programme Booklet Available</h2>

<p>We have prepared a booklet containing abstracts and details of the programme. This will <b><i>not</i></b> be available in printed form at the conference, so please <b>print it out and bring it along with you</b>. It is available <a href="./booklet.pdf">here</a>.</p>

<h2>Poster Sizes</h2>

<p>Each poster session will contain about 45 posters. There will be 24 panels of approximately 1.5m width and 1m height. There will be a poster on each side of these panels. That means that A0 landscape will be a good fit, but A0 portraint would be a little too big.</p>

<h2>Colocated Events</h2>

<p><b>Summer School</b>: Before AISTATS there will be an <a href="http://www.mlss.cc/sardinia10">MLSS Summer School on Machine Learning and Cognitive Science</a>.</p>
  
<p><b>Post Meeting Workshop</b>: After AISTATS there will be a <a href="http://clopinet.com/isabelle/Projects/AISTATS2010/">workshop on Active Learning and Experimental Design</a>.</p>

{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}

